body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #01171b;;
}

.titulo{
    width: 500px;
    position: relative;
    left: 200px;
    color: ghostwhite;
    background-color: rgb(52, 87, 52);
    border-radius: 5px;
    text-align: center;
}

.descripcion{
    font-size: 20px;
    color: ghostwhite;
    width: 900px;
    position: relative;
    left: 30px;
    text-align: justify;
}

.mapa_izq{
    position: relative;
    left: 30px;
    width: 35%;
    margin: left;
}

.mapa_izq path{
    fill: #00394f;
    stroke: #eee;
    stroke-width: 1px;
}

.mapa_izq path:hover {
    fill: #006284;
    transition: 0.6s;
    cursor: pointer;
}

.mapa_der{
    position: relative;
    left: 30px;
    width: 35%;
    margin: right;
}

.mapa_der path{
    fill: #00394f;
    stroke: #eee;
    stroke-width: 1px;
}

.mapa_der path:hover {
    fill: #006284;
    transition: 0.6s;
    cursor: pointer;
}

.titulo1{
    width: 500px;
    position: relative;
    left: 1140px;
    top: -847px;
    color: ghostwhite;
    background-color: rgb(52, 87, 52);
    border-radius: 5px;
    text-align: center;
}
.descripcion1{
    font-size: 20px;
    color: ghostwhite;
    width: 600px;
    position: relative;
    left: 970px;
    top: -846px;
    text-align: justify;
}


