body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #01171b;
}

.navbar{
    display: inline-block;
    background: #00394f;
    color: #eee;
    padding: 10px 30px;
    text-decoration: none;
    position: relative;
    margin-top: auto;
    font-weight: bold;
}

.navbar .navbar.active{
    background:rgb(52, 87, 52);
}

.navpos{
    z-index: 1030;
    position: fixed;    
}

.navbar:hover{
    background: #006284;
}

nav {
    background: #365b77;
}

.proyecto{
    width: 500px;
    position: relative;
    left: 500px;
    color: ghostwhite;
    text-align: center;
    top: 20px;  
}

.titulo{
    width: 500px;
    position: relative;
    left: 200px;
    color: ghostwhite;
    background-color: rgb(52, 87, 52);
    border-radius: 5px;
    text-align: center;
    top: 70px;
}

.descripcion{
    font-size: 20px;
    color: ghostwhite;
    width: 900px;
    position: relative;
    left: 30px;
    text-align: justify;
    top:90px;
}

.mapa_izq{
    position: relative;
    left: 30px;
    width: 30%;
    margin: left;
    top:120px;
}

.mapa_izq path{
    fill: #00394f;
    stroke: #eee;
    stroke-width: 1px;
}

.mapa_izq path:hover {
    fill: #006284;
    transition: 0.6s;
    cursor: pointer;
}

.mapa_der{
    position: relative;
    left: 990px;
    top: -710px;
    width: 30%;
    margin: right;
}

.mapa_der path{
    fill: #00394f;
    stroke: #eee;
    stroke-width: 1px;
}

.mapa_der path:hover {
    fill: #006284;
    transition: 0.6s;
    cursor: pointer;
}

.titulo1{
    width: 500px;
    position: relative;
    left: 1140px;
    top: -810px;
    color: ghostwhite;
    background-color: rgb(52, 87, 52);
    border-radius: 5px;
    text-align: center;
}
.descripcion1{
    font-size: 20px;
    color: ghostwhite;
    width: 600px;
    position: relative;
    left: 970px;
    top: -795px;
    text-align: justify;
}
