html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #e2ece9;
}


.container{
    padding: 5%;
    text-align: center;
    width: 100%;
}


/*.navbar{
    display: inline-block;
    background: #00394f;
    color: #eee;
    padding: 10px 30px;
    text-decoration: none;
    position: relative;
    margin-top: auto;
    font-weight: bold;
}

.navbar .navbar.active{
    background:rgb(52, 87, 52);
}

.navpos{
    z-index: 1030;
    position: fixed;    
}

.navbar:hover{
    background: #006284;
}

nav {
    background: #365b77;
}



/* fin página inicio, navbar, encabezado en general*/


#mapa_izq, #mapa_der {
    display: inline-block;    
    padding: 2%;   
}


.titulo{
    color: ghostwhite;
    background-color: #f67711;
    border-radius: 5px;
    text-align: center;
    margin: left;
    top: 70px;
}

.descripcion{
    font-size: 20px;
    color: ghostwhite;
    margin: left;
    text-align: justify;
    top:90px;
}

.mapa_izq{
    width: fit-content;
    height: fit-content;
    margin: auto;
}

#sec_mapa {
    width: 100%;
    margin: auto;
}

#information {
    width: fit-content;
    float: left;
    height: fit-content;
    margin: auto;
}

.mapa_izq path{
    stroke: #eee;
    stroke-width: 1px;
}

.mapa_der{
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.mapa_der path{
    stroke: #eee;
    stroke-width: 1px;
}

.mapa_nuevo{
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.mapa_nuevo path{
    stroke: #eee;
    stroke-width: 1px;
}

.titulo1{
    position: relative;
    color: ghostwhite;
    background-color: rgb(245, 111, 22);
    border-radius: 5px;
    text-align: center;
}
.descripcion1{
    font-size: 20px;
    color: ghostwhite;
    text-align: justify;
}

.dropbtn {
    background-color: #f67711;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #f67711;}

  
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    text-align: right;
    font-size: 0.7vw;
    padding: 0.4% 1%;
    font-weight: lighter;
  }

  footer a{
    color: #f1f1f1;
  }