#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #04AA6D;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
} 




  a:link{
    text-decoration: none;
 }

 a:visited {
 text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

h2 {
  text-align: center;
  padding:10%;
  padding-bottom: 5%;
  font-size: 2.6vw;
}
h3{
  text-align: justify;
  padding-top: 0;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 0;
  font-size: 1.5vw;       /*https://www.w3.org/TR/css3-values/#viewport-relative-lengths*/
  font-weight: lighter;
}
h4{
  text-align: justify;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 1.5vw;
  font-weight: lighter;
}
